<mat-card id="loginForm" class="mobile centerW marginTop card">
  <form [formGroup]="form" (submit)="onLogin()" *ngIf="!isLoading" class="stack">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="form.get('email')!.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="isHidden ? 'password' : 'text'" formControlName="password" required>
      <mat-error *ngIf="form.get('password')!.invalid">Please enter your password</mat-error>
      <button type="button" mat-icon-button matSuffix (click)="isHidden = !isHidden" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidden">
        <mat-icon>{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button class="button-main">Login</button>
  </form>
</mat-card>

<!-- <div class="card">
  <span class="card-plan">Premium</span>
  <h3 class="card-title">
      $20<span>/month</span>
  </h3>
  <a href="#" class="card-button">Get started</a>
</div> -->
